.faq-div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.faq-main {
    max-width: 900px;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.faq-data {
    max-width: 800px;
    width: 100%;
    margin: 80px 0px;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
    border: 2px solid #bebebe;
    padding: 0px 20px;
}

.singleFaq {
    width: 100%;
    padding: 32px 20px;
    font-size: 18px;
    border-bottom: 2px solid #807878;
}

.singleFaq:nth-last-child(1) {
    border: none;
}

.faq-question {
    font-weight: 500;
    margin-bottom: 4px;
}

.faq-question span,
.faq-answer span {
    font-weight: 500;
    margin-right: 4px;
}